.d-none {
  display: none !important;
}

.profile-user-img {
  border: 3px solid #adb5bd;
  margin: 0 auto;
  padding: 3px;
  width: 100px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.box-profile {
  position: relative;
  width: 100%;
  max-width: 150px;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.box-profile:hover .overlay {
  opacity: 1;
}

.box-profile:focus .overlay {
  opacity: 1;
}


/*syling select 2 from collaborators in the edit blade menu*/


.select2-container--classic.select2-container--open .select2-dropdown{
	height:30px;
}
.select2-container--classic .select2-results>.select2-results__options{
	height:30px;
}
.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable{
	background-color: #E4E4E4;
	color: #333333;
}
.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable:hover{
	background-color: #064c72;
	color: #eee;
}
.select2-container--classic.select2-container--open .select2-dropdown{
	border-color:#E4E4E4;
}